 .u-section-1 {
  background-image: url("images/8e59fc18-f173-4b50-91c8-8334297ca40a.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 700px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 50px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 201px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.625rem;
  font-weight: 400;
  font-style: normal;
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 926px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 597px;
  height: 597px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px auto 0 21px;
}

.u-section-1 .u-image-1 {
  width: 568px;
  height: 659px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -617px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 764px;
  }

  .u-section-1 .u-shape-1 {
    width: 533px;
    height: 533px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 533px;
    height: 618px;
    margin-top: -553px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 673px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 394px;
    margin-top: -360px;
  }
} .u-section-2 {
  min-height: 775px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 70px auto 39px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 532px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  min-height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 229px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 676px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-bottom: -60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 433px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1292px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1049px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1568px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1613px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 289px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 289px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 385px;
  background-image: url("images/6.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 385px;
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 431px;
  background-image: url("images/8.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 33px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 0 0 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-image-1 {
    min-height: 317px;
  }

  .u-section-3 .u-image-2 {
    min-height: 317px;
  }

  .u-section-3 .u-image-3 {
    min-height: 356px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 361px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-image-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-2 {
    min-height: 243px;
  }

  .u-section-3 .u-image-3 {
    min-height: 273px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-3 .u-image-1 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 390px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-3 .u-image-1 {
    min-height: 230px;
  }

  .u-section-3 .u-image-2 {
    min-height: 230px;
  }

  .u-section-3 .u-image-3 {
    min-height: 246px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: url("images/137cf549-2264-0d06-7dbf-32fdc057e668.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-4 .u-image-1 {
  width: 656px;
  height: 887px;
  margin: 140px 86px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -577px 514px 0 45px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 0 570px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-4 .u-image-1 {
    width: 705px;
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 130px;
    margin-right: 359px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 470px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-4 .u-image-1 {
    width: 510px;
    height: 677px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 110px 64px 0 auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -720px;
    margin-right: 139px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-4 .u-image-1 {
    width: 479px;
    height: 574px;
    margin-top: 628px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1134px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-4 .u-image-1 {
    height: 407px;
    width: 322px;
    margin-top: 603px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -943px;
  }
}