.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 151px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 892px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 772px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/momy.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 220px;
  height: 220px;
  background-image: url("images/family.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/friend.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 220px;
  height: 220px;
  background-image: url("images/frend2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/girlfriend.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/a76b0d5d84398867d4f67addd1926551c119943c6734714bac10a1ec99833264cc4ae73056fb52dbff44a5e30492ce503031d09ce7c021b64a4c6f_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: -683px auto 644px -392px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-3 .u-shape-1 {
  width: 570px;
  left: 202px;
  right: auto;
}

.u-section-3 .u-group-1 {
  width: 803px;
  min-height: 410px;
  margin: 401px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 77px 0 0 310px;
}

.u-section-3 .u-text-2 {
  margin: 12px 0 0 310px;
}

.u-section-3 .u-image-1 {
  width: 647px;
  height: 834px;
  margin: -645px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 204px;
  height: 204px;
  margin: -304px 391px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-3 .u-shape-1 {
    height: 825px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 168px 0 auto;
  }

  .u-section-3 .u-group-1 {
    width: 677px;
    min-height: 423px;
    margin-top: 1169px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 300px;
  }

  .u-section-3 .u-image-1 {
    width: 525px;
    height: 424px;
    margin-top: -598px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -519px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-3 .u-shape-1 {
    width: 550px;
    left: 20px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-group-1 {
    width: 622px;
    margin-top: 544px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 267px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 267px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -798px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -526px;
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-3 .u-shape-1 {
    width: 489px;
    height: 1041px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-3 .u-group-1 {
    width: 442px;
    min-height: 479px;
    margin-top: 1525px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 127px;
  }

  .u-section-3 .u-image-1 {
    width: 442px;
    height: 369px;
    margin-top: -800px;
  }

  .u-section-3 .u-shape-2 {
    width: 171px;
    height: 171px;
    margin-top: -432px;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-shape-1 {
    width: 272px;
    height: 865px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 291px;
    min-height: 492px;
    margin-top: 1172px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 291px;
    height: 216px;
    margin-top: -682px;
  }

  .u-section-3 .u-shape-2 {
    width: 115px;
    height: 115px;
    margin-top: -274px;
    margin-right: 0;
  }
}